.centerElement{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.leftFloat{
    float: left;
}

.halfWidth{
     width: 50%;
}

div{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 700px;
}

#Color1{
    background-color: rgb(211, 1, 1);
}

#Color2{
    background-color: white;
}

#Color3{
    background-color:rgb(1, 1, 177);
}

#Color4{
    background-color: rgb(123, 176, 194);
}